# Project related files
*.codelite/
*.pbxuser
*.xcscheme
*.xccheckout
*.pdb
*.sdf
*.opensdf
*.suo
*.exp
*.ilk
*.map

# Explorer files
Thumbs.db
.DS_Store

# Diff related files
*.diff
*.patch
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
